body{
    font-family: Arial, sans-serif;
    text-align:center;
}

#linha{
    position:relative;
    width:1200px;
    height:380px;
    border:3px solid black;
    margin:auto;
    overflow:hidden;
}

#linha::after{
    content:"";
    position:absolute;
    left: 5px;
    top:360px;
    width:100%;
    height:20px;
    background:#555;
}


#estacoes{
    position:absolute;
    top:40px;
    left:0;

    width:100%;

    display:flex;
    justify-content:center;
    gap:180px; /* espaço entre EV e ST */
}

#enchedora{
    width:150px;
    height:80px;

    background:limegreen;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    font-weight:bold;
}

#tampadora{
    width:150px;
    height:80px;

    background:limegreen;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    font-weight:bold;
}

.garrafaContainer{

    position:absolute;

    bottom:20px;

    width:60px;
    height:160px;
}

.garrafaContainer img{

    position:absolute;

    width:100%;
    height:100%;

    left:0;
    top:0;

    z-index:1;
}

.liquido{

    position:absolute;

    left:10px;
    bottom:2px;

    width: 40px;
    height: 0px;

    background: linear-gradient(
        to right,
        #58cfff,
        #9be8ff,
        #58cfff
    );

    opacity:0.5;
    border-radius:0 0 12px 12px;  

    z-index:999;
    
}

.garrafa img{
    height: 120px;
    width:auto;
}
#garrafas{
    position:absolute;
    width:100%;
    height:100%;
}

h1{
    margin-top: 10ppx;
    margin-bottom:10px;
}

h2{
    margin-top:10px;
}

.btnPainel{
    width:80px;
    height:80px;

    border:none;
    background-color:transparent;

    cursor:pointer;

    margin:3px;

    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

    transition:transform 0.1s;
}

.btnPainel:hover{
    transform:scale(1.05);
}

.btnPainel:active{
    transform:scale(0.95);
}

#btnLiga{
    background-image:url("../images/Botão_Liga.png");
}

#btnDesliga{
    background-image:url("../images/Botão_Desliga.png");
}

.operando{

    background:yellow !important;

    animation:piscando 0.6s infinite;

}

@keyframes piscando{

    0%{
        opacity:1;
    }

    50%{
        opacity:0.3;
    }

    100%{
        opacity:1;
    }

}